*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url('../fondo.jpg');
}
#tabla{
  width: 60%;
    margin: auto;
    margin-top: 5%;
    border-collapse: collapse;
}

#tabla th{
    background: whitesmoke;
    padding: 10px;
}
th:first-child {
    border-radius: 6px 0 0 0;
}

th:last-child {
    border-radius: 0 6px 0 0;
}

th:only-child{
    border-radius: 6px 6px 0 0;
}

#tabla tr td{
    padding: 5px;
    background: white;
}

tr:last-child td:first-child {
    border-radius: 0px 0px 0px 6px;
}

tr:last-child td:last-child {
    border-radius: 0px 0px 6px 0px;
}
/************************************************************************************************/
/*barra de navegacion*/
.icono{
  display: none;
}

 header, #navbar{
  background: whitesmoke;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

#navbar>ul {
  list-style:none;
  overflow:hidden;
}

#navbar>ul>li {
  float: left;
}

#navbar>ul>li>a{
  color: black;
  text-decoration: none;
  display: block;
  padding: 20px;
}
#navbar ul li a:hover{
  background-color: #54c9ec;
}

/****************************************************************************************************************************************/
@media screen and (max-width: 450px){
*{
      font-size: 9pt;
  }
  .visible{
    display: block;
    width: 100%;
  }
  .oculto{
    display: none;
  }
  .icono{
    float: left;
    text-decoration: none;
    color: #404040;
  }

  #icono{
    vertical-align: middle;
    margin-bottom: 5px;
  }
  #menu{
    display: inline-block;
  }

  #navbar ul li {
		display:block;
		border-bottom:1px solid rgba(255,255,255, .3);
	}

	.menu_bar {
    padding: 13px;
		display:inline-block;
    margin-left: 70%;
    font-size: 20pt;
    font-weight: bold;
	}

  .menu_bar .icono{
    display: inline-block;
  }

  header #navbar{
    position: absolute;
  }

  #navbar>ul {
    padding:0;
    margin:0;
  }
  #navbar ul li {
    width: 100%;
    text-align: center;
    display:block;
    float:none;
    }

  #navbar ul li a{
    text-align: center;
    font-size: 9pt;
  }
  #navbar ul li a:hover{
    background-color: #54c9ec;
  }

}
