{% extends "index.html" %}
{% block content %}
<h1 class="page-header">Caja Menor</h1>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Nombre de la Caja Menor</th>
    <th>usuario asignado</th>
    <th>Total Disponible</th>
    <th></th>
  </tr>
</thead>
  <tbody>
    {% for CajaMenor in cajaMenor %}
    <tr>
      <td>{{CajaMenor.id}}</td>
      <td>{{CajaMenor.nombreCaja}}</td>
      <td>{{CajaMenor.usuario}}</td>
      <td>$ {{CajaMenor.totalDisponible}}</td>
      <td><a onclick="window.location.href='editaCaja/{{CajaMenor.id}}'"><i class="glyphicon glyphicon-pencil"></i> Editar</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
