{% extends "index.html" %}
{% block content %}
<div id="cuadro">
  <h3>¿Que desea hacer?</h3>
        <div class="ui buttons">
          <div class="ui blue button"  onclick="window.location.href='nueva'">Agregar </div>
        </div>
</div><br><br>
<table class="ui single line table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Nombre de la Caja Menor</th>
    <th>usuario asignado</th>
    <th>Total Disponible</th>
  </tr>
</thead>
  <tbody>
    {% for CajaMenor in cajaMenor %}
    <tr>
      <td>{{CajaMenor.id}}</td>
      <td>{{CajaMenor.nombreCaja}}</td>
      <td>{{CajaMenor.usuario}}</td>
      <td>$ {{CajaMenor.totalDisponible}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
