{% load static %}
<html>
    <head>
        <title>Caja Menor</title>
        <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="{% static 'Semantic-UI-master\dist\semantic.min.css'%}" rel="stylesheet">
        <link href="{% static 'Semantic-UI-master\dist\semantic.min.js'%}" rel="stylesheet">
        <link href="{% static 'css\navbar.css'%}" rel="stylesheet">
        <link href="{% static 'css\style.css'%}" rel="stylesheet">
        <link href="{% static 'Semantic-UI-master\dist\semantic.min.js'%}" rel="stylesheet">
    </head>
    <body>
      <header>
        <div class="ui top fixed menu">
          <div class="item">Inicio</div>
          <a class="item" href="../cajaMenor">Caja Menor</a>
          <a class="item" href="../usuarios">Usuarios</a>
          <a class="item" href="#">acerca de</a>
        </div>
      </header>
      <br><br><br><br>
      <div id="Cuerpo">
        {% block content %}
          {% endblock content %}
      </div>
    </body>
</html>
