{% extends "index.html" %}
{% block content %}
<h1 class="page-header">Usuarios</h1>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Identificacion</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Contrase&ntilde;a</th>
    <th></th>
  </tr>
</thead>
  <tbody>
    {% for Usuario in usuarios %}
    <tr>
      <td>{{Usuario.id}}</td>
      <td>{{Usuario.identificacion}}</td>
      <td>{{Usuario.nombre}}</td>
      <td>{{Usuario.apellido}}</td>
      <td>{{Usuario.contrasena}}</td>
      <td><a onclick="window.location.href='editaUsuario/{{Usuario.id}}'"><i class="glyphicon glyphicon-pencil"></i> Editar</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
