{% extends "index.html" %}
{% block content %}
<table class="ui single line table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Identificacion</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Contrase&ntilde;a</th>
  </tr>
</thead>
  <tbody>
    {% for Usuario in usuarios %}
    <tr>
      <td>{{Usuario.id}}</td>
      <td>{{Usuario.identificacion}}</td>
      <td>{{Usuario.nombre}}</td>
      <td>{{Usuario.apellido}}</td>
      <td>{{Usuario.contrasena}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div id="cuadro">
    <form id="formulario">
        <h1>Agregar</h1><br>

        <div class="ui buttons">
          <button class="ui positive button" onclick="window.location.href='/agregar'" >Agregar</button>
          <div class="or"></div>
          <button class="ui button">Cancelar</button>
        </div>
    </form>
</div>
{% endblock content %}
